# PayPal API credentials
# Get these from your PayPal Developer Dashboard
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_API="https://api-m.sandbox.paypal.com" # Use "https://api-m.paypal.com" for production

# This public key is needed for the client-side PayPal script
NEXT_PUBLIC_PAYPAL_CLIENT_ID=

# The public URL of your site (used for PayPal return URLs)
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# (Optional) Email credentials for sending order confirmations
# Used by nodemailer. If you use a different service, these may change.
EMAIL_USER=
EMAIL_PASS=
