@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 342 93% 92%; /* #FED5E3 - Light Pink */
    --foreground: 345 10% 25%;
    --card: 348 60% 98%;
    --card-foreground: 345 10% 25%;
    --popover: 348 60% 98%;
    --popover-foreground: 345 10% 25%;
    --primary: 340 82% 64%; /* #EC5C8C */
    --primary-foreground: 345 10% 25%;
    --secondary: 348 60% 94%; /* #F6DEE4 - Off Pink */
    --secondary-foreground: 345 10% 25%;
    --muted: 348 30% 90%;
    --muted-foreground: 345 10% 45%;
    --accent: 348 60% 97%; /* #F9E6EB - Very light pink */
    --accent-foreground: 345 10% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 340 40% 85%;
    --input: 348 60% 97%;
    --ring: 340 82% 64%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 345 10% 15%;
    --foreground: 348 60% 97%;
    --card: 345 10% 18%;
    --card-foreground: 348 60% 97%;
    --popover: 345 10% 18%;
    --popover-foreground: 348 60% 97%;
    --primary: 340 82% 64%;
    --primary-foreground: 345 10% 15%;
    --secondary: 348 60% 94%;
    --secondary-foreground: 345 10% 15%;
    --muted: 345 10% 25%;
    --muted-foreground: 348 30% 90%;
    --accent: 345 10% 25%;
    --accent-foreground: 348 60% 97%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 345 10% 30%;
    --input: 345 10% 30%;
    --ring: 340 82% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
