
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 50% 98%;
    --foreground: 350 30% 35%;
    --card: 350 80% 99%;
    --card-foreground: 350 30% 35%;
    --popover: 0 0% 100%;
    --popover-foreground: 350 30% 35%;
    --primary: 350 78% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 350 95% 92%;
    --secondary-foreground: 350 10% 15%;
    --muted: 24 5% 92%;
    --muted-foreground: 24 5% 45%;
    --accent: 350 100% 97%;
    --accent-foreground: 350 78% 40%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 5% 88%;
    --input: 24 5% 90%;
    --ring: 350 78% 60%;
    --chart-1: 350 78% 60%;
    --chart-2: 350 85% 75%;
    --chart-3: 350 90% 85%;
    --chart-4: 350 95% 90%;
    --chart-5: 350 100% 95%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 24 10% 10%;
    --foreground: 0 0% 95%;
    --card: 24 8% 12%;
    --card-foreground: 0 0% 95%;
    --popover: 24 8% 12%;
    --popover-foreground: 0 0% 95%;
    --primary: 350 78% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 350 95% 85%;
    --secondary-foreground: 350 10% 20%;
    --muted: 24 5% 20%;
    --muted-foreground: 24 5% 65%;
    --accent: 24 5% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 5% 25%;
    --input: 24 5% 25%;
    --ring: 350 78% 60%;
    --chart-1: 350 78% 60%;
    --chart-2: 350 85% 75%;
    --chart-3: 350 90% 85%;
    --chart-4: 350 95% 90%;
    --chart-5: 350 100% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
